<ion-header [translucent]="true">

</ion-header>

<ion-content color="back">
  <ion-header collapse="condense">
  </ion-header>


  <div>

    <h1 class="titulo"> Login </h1>

    <br>

    <ion-card color="dark">

      <ion-card-content color="dark">

        <ion-item color="dark">
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label position="floating">Senha:</ion-label>
          <ion-input type="password"></ion-input >
        </ion-item>

        <br>

          <ion-item lines="none" color="dark">
          <ion-label>Manter Logado</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>

        <br>

        <ion-button expand="full">Entrar</ion-button>

        <ion-button expand="full" routerLink="/cadastro">Cadastrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>